
:root {
  --ripple-color: #AEA8D3;
}
:root {
  --theme-color-bg: #663399;
}
:root {
  --theme-color: #663399;
}


/* Material style */
.btn-ripple {
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 40px;
  border-radius: 2px;
  font-size: 22px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: var(--theme-color-bg);
  transition: all .1s;
  outline: none;
}

/* Ripple style */
.btn-ripple{
  position: relative;
  overflow: hidden;
}

.btn-ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--ripple-color);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
   
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.btn-ripple:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
.btn-ripple:active{
  transform: scale(0.9) translate(0px, 5px);
  box-shadow: none;
}
/*for not auto response when screen load*/
.btn-ripple:after {
  visibility: hidden;
}

.btn-ripple:focus:after {
  visibility: visible;
}
/*btn outline */
.bt-outline {
  background:none;
  border:2px solid var(--theme-color);
  color: var(--theme-color);
}
.bt-outline.btn-ripple:after {
  background: var(--theme-color-bg);
}



/* 

Search Bar Css
*/

.search-container{
  max-width: 450px;
  /* margin: 150px auto; */
}

.search-container .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  /* box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12); */
}

.searchInput input{
  height: 45px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  width: 100%;
  margin-top: 2px;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  position: absolute;
  background: #fff;
  z-index: 1;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
}

.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
